<!DOCTYPE html>
<html>
	<head>
		<title>Primera Configuraci&oacute;n</title>
		<link rel="stylesheet" type="text/css" href="/static/newbotstyle.css">
	</head>
	<body>
		<div class="login-page">
			<div class="form">
				<form class="login-form" action="oauthreg" method="POST">
					<h4>PRIMERA CONFIGURACI&Oacute;N DEL BOT</h4>
					<input type="text" placeholder="CANAL DE TWITCH" name="userchan" required />
					<input type="text" placeholder="OAUTH DE TWITCH" name="oauthtw" minlength="8" required/>
					<button>Configurar bot</button>
					<p class="message"><a target="_blank" rel="noopener noreferrer" href="https://twitchapps.com/tmi/">Obten tu OAUTH</a>
				</form>
			</div>
		</div>
	</body>
</html>