<!DOCTYPE html>
<html>
	<head>
		<title>DASHBOARD</title>
		<script type="text/javascript"
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/newbotstyle.css">
		<style type="text/css">
			.wrapper{
				width: fit-content;
				text-align: center;
			}
			.leftdiv{
				display: inline-block;
				vertical-align: top;
				height: 360px;
			}
			.chatdiv{
				display: inline-block;
				vertical-align:top;
				padding: 20px;
			}
			.chat{
				width: -webkit-fill-available;
				height: 95vh;
				max-width: max-content;
				max-height: -webkit-fill-available;
			}
		</style>
		<script>
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
			var player;
			var interSet = "";
			var videoStateCount;
			var intervalEnd;

			function onYouTubeIframeAPIReady() {
				setInterval(function(){
					if (interSet == ""){
						$.get("/_feedsr",
							function (data){
								if(data != ""){
									interSet = "1";
									player = new YT.Player('player', {
									height: '360',
									width: '640',
									videoId: data,
									playerVars: {'autoplay': 1, 'controls': 1},
									events: {
										'onReady': onPlayerReady,
										'onStateChange': onPlayerStateChange
										}
									});
								}
							})
					}
				}, 1000);
			}
			function onPlayerReady(event) {
				event.target.playVideo();
			}
			function onPlayerStateChange(event) {
				if(event.data == YT.PlayerState.ENDED){
					intervalEnd = setInterval(function(){	
						$.get("/_feedsr", function(data){
							if(data != ""){
								player.loadVideoById(data);
								clearInterval(intervalEnd);
							}
						});
					}, 1000);
				}
			}
			function stopVideo() {
				player.stopVideo();
			}
		</script>
	</head>
	<body>
		<div class="login-page wrapper">
			<div class="form leftdiv" style="width: 640px; max-width: 640px">
				<form class="login-form" action="rulectr" method="POST">
					<div id="player" style="width: 640px; height: 360px;"></div>
				</form>
			</div>
			<div class="form leftdiv">
				<form class="login-form" action="controlpanel" method="POST">
					<h2>PANEL DE CONTROL</h2>
					<button name="botctrl" style="background: {{ btnColor }};" value="btnonoff">{{ btnValue }}</button>
					<button name="botctrl" value="rules">Reglas del bot</button>
					<button name="botctrl" value="servicios">Serivicios</button>
				</form>
			</div>
			<div class=" form chatdiv" style="height: 90vh;">
				<iframe frameborder="0"
					class="chat"
					scrolling="no"
					src="https://www.twitch.tv/embed/{{channel}}/chat?darkpopout">
				</iframe>
			</div>
		</div>
	</body>
</html>