<!DOCTYPE html>
<html>
	<head>
		<title>DASHBOARD</title>
		<link rel="stylesheet" type="text/css" href="/static/newbotstyle.css">
		<style type="text/css">
			.wrapper{
				width: 80%;
				padding-left: 20vw;
				text-align: center;
			}
			.leftdiv{
				display: inline-block;
			}
			.chatdiv{
				margin-left: 40px;
				display: inline-block;
				vertical-align:top;
			}
			.chat{
				width: 30vw;
				height: 95vh;
			}
		</style>
	</head>
	<body>
		<div class="login-page wrapper">
			<div class="form leftdiv">
				<form class="login-form" action="controlpanel" method="POST">
					<h2>PANEL DE CONTROL</h2>
					<button name="botctrl" style="background: {{ btnColor }};" value="btnonoff">{{ btnValue }}</button>
					<button name="botctrl" value="rules">Reglas del bot</button>
				</form>
			</div>
			<div class="chatdiv">
				<iframe frameborder="0"
					class="chat"
					scrolling="no"
					src="https://www.twitch.tv/embed/{{channel}}/chat?darkpopout">
				</iframe>	
			</div>
		</div>
	</body>
</html>