<!DOCTYPE html>
<html>
	<head>
		<title>DASHBOARD</title>
		<link rel="stylesheet" type="text/css" href="/static/newbotstyle.css">
	</head>
	<body>
		<div class="login-page">
			<div class="form">
				<form class="login-form" action="controlpanel" method="POST">
					<h2>PANEL DE CONTROL</h2>
					<button name="botctrl" style="background: {{ btnColor }};" value="btnonoff">{{ btnValue }}</button>
					<button name="botctrl" value="rules">Reglas del bot</button>
				</form>
			</div>
		</div>
	</body>
</html>