<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/static/newbotstyle.css">
	</head>
	<body>
		<div class="login-page">
			<div class="form">
				<form class="login-form" action="loginbot" method="POST">
					<h3>INICIAR SESI&Oacute;N</h3>
					<input type="text" placeholder="USUARIO" name="user" required />
					<input type="password" placeholder="CONTRASEÑA" name="pass" minlength="6" required/>
					<button>iniciar sesi&oacute;n</button>
				</form>
			</div>
		</div>
	</body>
</html>