<!DOCTYPE html>
<html>
	<head>
		<title>DASHBOARD</title>
		<link rel="stylesheet" type="text/css" href="/static/newbotstyle.css">
	</head>
	<body>
		<div class="login-page">
			<div class="form">
				<form class="login-form" action="newrule" method="POST">
					<h2>NUEVA REGLA</h2>
					<input type="text" name="rule" placeholder="PON AQUI LA REGLA (;)" minlength="3" required>
					<input type="text" name="response" placeholder="PON AQUI LA RESPUESTA (username)" minlength="3" required>
					<button name="btnrules" value="guardar">Guardar</button>
				</form>
			</div>
		</div>
	</body>
</html>