<!DOCTYPE html>
<html>
	<head>
		<title>Primera Configuraci&oacute;n</title>
		<link rel="stylesheet" type="text/css" href="/static/newbotstyle.css">
	</head>
	<body>
		<div class="login-page">
			<div class="form">
				<form class="login-form" action="registerbot" method="POST">
					<h3>PRIMER INICIO DEL BOT</h3>
					<input type="text" placeholder="USUARIO" name="user" required />
					<input type="password" placeholder="CONTRASEÑA" name="pass1" minlength="6" required/>
					<input type="password" placeholder="REPETIR CONTRASEÑA" name="pass2" minlength="6" required/>
					<button>Crear bot</button>
				</form>
			</div>
		</div>
	</body>
</html>